h1 {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

nav {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    font-size: smaller;
    padding-left: 2%;
    text-align: center;
  }

  a:link {
    color: darkslateblue
}

a:visited {
    color: purple
}

a:hover {
    font-size: x-large;
    color: darkblue
}

img {
    margin: auto;
    display: flex;
}

iframe {
    margin:auto;
    display: flex;
    margin-bottom: 10%;
}

body {
    background-color: #afd97e;
}

h4 {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 12%;
}

b {
    display: flex;
    justify-content: center;
    font-size: x-large;
}