h1 {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 12%;
}

nav {
     
}

img {
    margin: auto;
    display: flex;
}

h4 {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 12%;
}