/* the goal is to keep the whole website text wise kind of in the green and black spectrum*/
header nav a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly; 
  background: #000;
  text-family: cursive;
  text-color: #fff;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
  
body {
  margin: 5;
  background-color: grey;
}

h1,h2,h3,h4,h6{
  color:lightgreen;
  background: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

/* this should center all of the images on the published page*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

}
a:link{
  color:darkgreen;
}
a:visited{
  color:red;
}
a:hover{
  color:chartreuse;
}

/*still in the black family but here for a little color contrast*/
p,ul,ol{
  background: lightgray;
  font-size: 18px;
  text-align: center;
}

nav{
  padding: 0px;
  margin: 20px;
  text-align:center;
}

h3{
  height: 50px;
}

h5{
  color: white;
  background: darkgreen; 
}

/*having a little fun with zig zagging the headers*/

h3,h5,h6{
  text-align: right;
}

h1,h2,h4,{
  text-align: left;
}

.right{
  text-align:left;
}


@media all and (min-width= 500px) {
  p {
    font-size: 18px;
    background-color: grey;
  }
.group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
}

form label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
form textarea {
  height: 4.75rem;
  width: 100%;
  color: #000;
  font-size: 20px;
  margin-bottom: 10px;
}

form button {
    padding: 8px 14px;
    border-radius: 12px;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 10px;
    background: #fff;
    color: #000;
    margin: 0 8px 10px 0;
}
