nav {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  font-size: smaller;
}

h1 {
  display: flex;
  font-size: large;
  justify-content: center;
}

h5 {
  display: flex;
  justify-content: center;
}

textarea {
  display: flex;
 
}

h4 {
  font-size: large;
}

h7 {
  margin-top:0% ;
  font-size: medium;
  margin: auto;
  display: flex;
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  
}

img {
  display: flex;
  margin: auto;
  justify-content: center;
}

input {
  margin-left: 10%;
  width: 8em;
  margin: auto;

}